%h1 Listing news_articles

%table
  %tr
    %th Headline
    %th Content
    %th Author
    %th
    %th
    %th

  - @news_articles.each do |news_article|
    %tr
      %td= news_article.headline
      %td= news_article.content
      %td= news_article.author
      %td= link_to 'Show', news_article
      %td= link_to 'Edit', edit_news_article_path(news_article)
      %td= link_to 'Destroy', news_article, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - end unless @news_articles.nil?

%br

= link_to 'New News article', new_news_article_path
