<ul class="nav">
	<li>
	<%= link_to "Home", :controller => "static_pages", :action => "home" %>
	</li>
	<li>
	<%= link_to('Institucional', :controller => "static_pages", :action => "institutional")  %>  
	</li>
	<li>
	<%= link_to('Projetos', :controller => "static_pages", :action => "projects")  %>  
	</li>
	<li>
	<%= link_to('Equipe', :controller => "static_pages", :action => "team")  %>  
	</li>
	<li>
	<%= link_to('Galeria', :controller => "static_pages", :action => "gallery")  %>  
	</li>
	<li>
	<%= link_to('Fale conosco', :controller => "static_pages", :action => "contact")  %>  
	</li>
</ul>
<form class="navbar-search pull-left">
	  <input type="text" class="search-query" placeholder="Procurar">
</form>
